<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://dl.dropboxusercontent.com/scl/fi/c8p7yp2uywjxjfra07req/com.midasplayer.apps.farmheroessupersaga_1058370552_3.1.1.ipa?rlkey=30x9iovu7jjq2msxy12iw00yj&amp;st=rrol45lv&amp;dl=1</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://chungchi.store/source/images/logo.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.midasplayer.apps.farmheroessupersaga</string>
<key>bundle-version</key>
<string>3.1.1</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Farm Heroes Super Saga</string>
</dict>
</dict>
</array>
</dict>
</plist>