<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://example.com/TikTok.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://files.softicons.com/download/application-icons/circle-icons-by-martz90/png/512x512/apple2.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>12357601874</string>
<key>bundle-version</key>
<string>46..5.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>TikTokMod</string>
</dict>
</dict>
</array>
</dict>
</plist>