<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://dl.dropboxusercontent.com/scl/fi/wi4ti2bsf58frwwy9q0zo/TikTok-43.6.1.ipa?rlkey=o9st43jg1onsqjgdlbn4c090f&amp;st=ek2xmqhn&amp;dl=1</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://chungchi.store/source/images/logo.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.zhiliaoapp.musically</string>
<key>bundle-version</key>
<string>43.6.1</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>TikTok</string>
</dict>
</dict>
</array>
</dict>
</plist>